<h2>Sign up</h2>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <h1 class='form-header-text'>
    会員情報入力
  </h1>

  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>

  <div class="gender-field">
    <%= f.label :性別 %><br />
    <%= f.label :男  %>
    <%= f.radio_button :gender, :man %>
    <%= f.label :女  %>
    <%= f.radio_button :gender, :woman %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
