<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  <div class='form-header'>
    <h1 class='form-header-text'>
      会員情報入力
    </h1>
  </div>
  <%= render 'devise/shared/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname, class:"input-default", placeholder:"例) タロウ", maxlength:"40", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.label :gender, :男 %>
    <%= f.radio_button :gender, 0 %>
    <%= f.label :gender, :女 %>
    <%= f.radio_button :gender, 1 %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class:"input-default", placeholder:"PC・携帯どちらでも可", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :'パスワード' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上 英数字混合)</em>
    <% end %><br />
    <%= f.password_field :password, class:"input-default", placeholder:"例) 123abc", autocomplete: "new-password" %>
    <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
  </div>

  <div class="field">
    <%= f.label :'パスワード (確認)' %><br />
    <%= f.password_field :password_confirmation, class:"input-default", placeholder:"同じパスワードを入力して下さい", autocomplete: "new-password" %>
  </div>

  <div class="login-btn">
    <%= f.submit "新規登録" ,class:"login-red-btn" %>
  </div>
<% end %>
